<h2 class="mt-4 mb-4">Schedule Interview</h2>
<%if(errMsg){%>
    <div class="alert alert-danger" >
      <%=errMsg%>
    </div>
    <%}else{%>
      
    <div></div><%}%>
<form action="/schedule-interview" method="POST">
    <div class="mb-3">
        <label for="studentId" class="form-label">Student ID</label>
        <%if(studentId){%>
        <input type="text" class="form-control" id="studentId" name="studentId" value='<%=studentId%>' readonly>
        <%}else{%>
            <input type="text" class="form-control" id="studentId" name="studentId" required>
            
        <%}%>
    </div>
    <div class="mb-3">
        <label for="interviewId" class="form-label">Interview ID</label>
        <input type="text" class="form-control" id="interviewId" name="interviewId" required>
    </div>
    <button type="submit" class="btn btn-primary">Schedule Interview</button>
</form>